In [2]:
import pandas as pd
import numpy as np
import csv

In [2]:
# Define probabilities for each number from 0 to 9
probabilities_lists = {
0: [0, 0.03, 0.08, 0.08, 0.05, 0.08, 0.16, 0.06, 0.38, 0.08],
1: [0.09, 0, 0.03, 0.12, 0.17, 0.03, 0.03, 0.34, 0.07, 0.12],
2: [0.14, 0.02, 0, 0.2, 0.04, 0.08, 0.14, 0.05, 0.25, 0.08],
3: [0.09, 0.05, 0.14, 0, 0.07, 0.14, 0.09, 0.1, 0.18, 0.14],
4: [0.07, 0.09, 0.04, 0.09, 0, 0.09, 0.07, 0.06, 0.12, 0.37],
5: [0.09, 0.01, 0.05, 0.13, 0.07, 0, 0.33, 0.03, 0.16, 0.13],
6: [0.132908028,0.009037746,0.070707071,0.070707071,0.039872408,
    0.265816055,0,0.021265284,0.318979266,0.070707071],
7: [0.11, 0.21, 0.06, 0.17, 0.08, 0.06, 0.05, 0, 0.09, 0.17],
8: [0.25, 0.02, 0.1, 0.1, 0.05, 0.1, 0.25, 0.03, 0, 0.1],
9: [0.08, 0.04, 0.05, 0.12, 0.26, 0.12, 0.08, 0.09, 0.16, 0]
}

In [3]:
probabilities_0 = [0, 0.03, 0.08, 0.08, 0.05, 0.08, 0.16, 0.06, 0.38, 0.08]
probabilities_1 = [0.09, 0, 0.03, 0.12, 0.17, 0.03, 0.03, 0.34, 0.07, 0.12]
probabilities_2 = [0.14, 0.02, 0, 0.2, 0.04, 0.08, 0.14, 0.05, 0.25, 0.08]
probabilities_3 = [0.09, 0.05, 0.14, 0, 0.07, 0.14, 0.09, 0.1, 0.18, 0.14]
probabilities_4 = [0.07, 0.09, 0.04, 0.09, 0, 0.09, 0.07, 0.06, 0.12, 0.37]
probabilities_5 = [0.09, 0.01, 0.05, 0.13, 0.07, 0, 0.33, 0.03, 0.16, 0.13]
probabilities_6 = [0.132908028,0.009037746,0.070707071,0.070707071,0.039872408,
                   0.265816055,0,0.021265284,0.318979266,0.070707071]
probabilities_7 = [0.11, 0.21, 0.06, 0.17, 0.08, 0.06, 0.05, 0, 0.09, 0.17]
probabilities_8 = [0.25, 0.02, 0.1, 0.1, 0.05, 0.1, 0.25, 0.03, 0, 0.1]
probabilities_9 = [0.08, 0.04, 0.05, 0.12, 0.26, 0.12, 0.08, 0.09, 0.16, 0]
# Sum the values in the list
print(sum(probabilities_0)) 
print(sum(probabilities_1)) 
print(sum(probabilities_2)) 
print(sum(probabilities_3)) 
print(sum(probabilities_4)) 
print(sum(probabilities_5)) 
print(sum(probabilities_6)) 
print(sum(probabilities_7)) 
print(sum(probabilities_8)) 
print(sum(probabilities_9))

1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0

In [4]:
no_data = pd.read_csv('/home/aalmansour/source/lidc_slices/MNIST/four_raters_random_labels/no_agreement_4raters_mnist1.csv')
no_data.head(5)

,Random_1,Random_2,Random_3,Random_4,Random_5,Random_6,Random_7,Random_8,Random_9,Label_3,Label_2,Label_1,Label,Flattened_Image,id,agreement
0,0,1,8,4,7,3,9,6,2,5,5,5,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",45001,0
1,7,2,3,8,4,0,6,9,5,1,1,1,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",45002,0
2,5,0,2,3,4,8,7,9,6,1,1,1,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",45003,0
3,0,1,5,4,8,9,7,2,6,3,3,3,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",45004,0
4,3,4,1,8,0,9,2,5,7,6,6,6,6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",45005,0

In [5]:
no_data['Label'].value_counts()

Label
1    1733
3    1525
7    1514
9    1500
2    1486
6    1485
0    1465
4    1458
8    1443
5    1391
Name: count, dtype: int64

In [7]:
# Initialize an empty list to store generated labels
generated_labels1 = []
generated_labels2 = []
generated_labels3 = []

# Generate random labels based on probabilities for each number in the original column
for original_label in no_data['Label']:

    probabilities = probabilities_lists[original_label]
    generated_label1 = np.random.choice(range(10), p=probabilities)
    generated_label2 = np.random.choice(range(10), p=probabilities)
    generated_label3 = np.random.choice(range(10), p=probabilities)

    # To ensure labels within each row are unique
    while generated_label1 == generated_label2 or generated_label1 == generated_label3 or generated_label2 == generated_label3:
        generated_label1 = np.random.choice(range(10), p=probabilities)
        generated_label2 = np.random.choice(range(10), p=probabilities)
        generated_label3 = np.random.choice(range(10), p=probabilities)
    generated_labels1.append(generated_label1)
    generated_labels2.append(generated_label2)
    generated_labels3.append(generated_label3)


# Add the generated labels as a new column to the DataFrame
no_data['Generated_Labels1'] = generated_labels1
no_data['Generated_Labels2'] = generated_labels2
no_data['Generated_Labels3'] = generated_labels3

In [ ]:
# Display the DataFrame with the new column
print(no_data.head(5))

   Random_1  Random_2  Random_3  Random_4  Random_5  Random_6  Random_7  \
0         0         6         7         4         9         3         8
1         2         3         9         1         8         4         6
2         1         6         3         8         5         0         9
3         0         4         5         9         6         8         2
4         2         1         6         0         5         8         7

   Random_8  Random_9  Label_3  Label_2  Label_1  Label  \
0         2         1        5        5        5      5
1         5         7        0        0        0      0
2         2         7        4        4        4      4
3         7         3        1        1        1      1
4         3         4        9        9        9      9

                                     Flattened_Image     id  agreement  \
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  30001          1
1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  30002          1
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  30003          1
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  30004          1
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  30005          1

   Generated_Labels1  Generated_Labels2
0                  7                  0
1                  9                  6
2                  6                  9
3                  8                  0
4                  4                  3

In [ ]:
no_data['Generated_Labels1'].value_counts()

Generated_Labels1
8    2542
9    1862
6    1680
3    1606
0    1606
5    1449
4    1306
7    1198
2     983
1     768
Name: count, dtype: int64

In [ ]:
no_data['Generated_Labels2'].value_counts()

Generated_Labels2
8    2529
9    1945
6    1725
3    1638
0    1548
5    1469
4    1258
7    1216
2     945
1     727
Name: count, dtype: int64

In [ ]:
# Filter DataFrame based on a value in the 'Age' column
filtered_df = no_data[no_data['Label'] == 1]
filtered_df['Generated_Labels1'].value_counts()

Generated_Labels1
7    566
4    312
3    199
9    188
0    141
8    133
2     56
6     49
5     46
Name: count, dtype: int64

In [ ]:
# Filter DataFrame based on a value in the 'Age' column
filtered_df = no_data[no_data['Label'] == 8]
filtered_df['Generated_Labels2'].value_counts()

Generated_Labels2
6    353
0    339
3    161
9    150
5    143
2    138
4     70
1     39
7     39
Name: count, dtype: int64

In [8]:
# Filter DataFrame based on a value in the 'Age' column
filtered_df = no_data[no_data['Label'] == 8]
filtered_df['Generated_Labels3'].value_counts()

Generated_Labels3
6    314
0    263
5    186
2    169
3    164
9    159
4     97
7     57
1     34
Name: count, dtype: int64

In [ ]:
len(filtered_df)

1432

In [9]:
no_data.to_csv('no_mnist_file.csv', index=False)

In [11]:
no_data = pd.read_csv('/home/aalmansour/source/lidc_slices/MNIST/four_raters_similar_labels/high_train_data.csv')
no_data[no_data["image_id"]==30069]

Empty DataFrame
Columns: [image_id, instance_id, Label, flattened_image, agreement]
Index: []

In [12]:
len(no_data)

42000

In [13]:
repeated_labels = no_data.groupby(['image_id', 'Label']).filter(lambda x: len(x) > 1)

In [14]:
repeated_labels

,image_id,instance_id,Label,flattened_image,agreement
0,15001,60001,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
1,15002,60002,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
2,15004,60004,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
3,15005,60005,7,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
4,15006,60006,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
...,...,...,...,...,...
31495,29994,104994,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
31496,29996,104996,8,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
31497,29997,104997,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
31498,29998,104998,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
31499,29999,104999,6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2